
@model X.PagedList.IPagedList<ATS.Data.Course>
@using X.PagedList.Mvc


<section class="col-lg connectedSortable">

    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-calendar-o"></i>
            <h3 class="box-title">Courses List</h3>
        </div>

        @{
            Html.RenderPartial("_CreateButton");
            string index_Page = "Index";
        }

        <div class="box-footer clearfix">
            @using (Html.BeginForm(index_Page, "Course", FormMethod.Get))
            {
                <p>
                    Find by Name/Note: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.ActionLink("Name", index_Page, new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    Note
                                </th>
                                <th>
                                    @Html.ActionLink("Is Active", index_Page, new { sortOrder = ViewBag.ActiveSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>                            
                        </tfoot>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount                    
                    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>            
        </div>
        <!-- /.box-body -->
        
    </div>





</section>