<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        @{
            string avatarURL = Html.GetCurrentLoginUserAvatar();
            if (IsSectionDefined("Title"))
            {
                @RenderSection("Title",false);
            }
            else {
                @Html.GetTitlePage();
            }
        }
    </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
    @Styles.Render("~/bundles/AdminLTEStyles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>TS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>ATS</b></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 1 training(s)</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> Japanese N4
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @{

                                    if (!string.IsNullOrEmpty(avatarURL))
                                    {
                                        <img src="@avatarURL" class="user-image" alt="">
                                    }
                                }
                                <span class="hidden-xs">@Html.GetCurrentLoginUserName()</span>
                            </a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@avatarURL" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@Html.GetCurrentLoginUserName()</p>
                    </div>
                </div>
                <!-- search form -->
                <!--
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">INFORMATION MANAGEMENT</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i> <span>Employess</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>List</a></li>
                            <li><a href="@Url.Action("Index","Upload")"><i class="fa fa-circle-o"></i>Employees Import</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-microphone"></i> <span>Teachers</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>List</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Create</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calendar-o"></i> <span>Courses</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","CourseMgt")"><i class="fa fa-circle-o"></i>List</a></li>                            
                            <li><a href="@Url.Action("TrainingGlobalUpload", "Upload")"><i class="fa fa-circle-o"></i>Courses Import</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calendar-plus-o"></i> <span>Schedules</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>List</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Create</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calendar"></i> <span>Segments</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>List</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Create</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-excel-o"></i> <span>Attendance</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>List</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Import</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>Reports</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("GeneralReport","Home")"><i class="fa fa-circle-o"></i> General</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Skills</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Dept applied</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Schedule status</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Schedule status</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Attendance</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Attendance tracking</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>30</h3>
                                <p>Segments</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-ios-list-outline"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>44</h3>
                                <p>Employee Registrations</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>53<sup style="font-size: 20px">%</sup></h3>
                                <p>Attendance Rate</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    @RenderBody()
                </div>
                <!-- /.row (main row) -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2016-2017 ETI4-HR (RBVH).</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    @Scripts.Render("~/bundles/AdminLTEScripts")
    @Scripts.Render("~/bundles/jqueryval")


    @RenderSection("Scripts", required: false)
</body>

</html>
