@model IList<ATS.Data.Employee>
<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-2.2.3.min.js"></script>
@*<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-ui-personalized-2.2.3.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/Scripts/sprinkle.js"></script>*@

@using (Html.BeginForm("UploadGlobalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global employees: </label>
            <input type="file" id="dataFile" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div class="custom-file-upload row">
        @*<div class="alert alert-success" id="divNotifiSuccessEmployeeGlobal">
            <strong>Success!</strong> Upload employee global success!
        </div>
        <div class="alert alert-danger" id="divNotifiUnsuccessEmployeeGlobal">
            <strong>Unload Unsuccess!</strong> Please check your excel file!
        </div>*@
        @if (ViewBag.listEmployeeGlobals != null && ViewBag.listEmployeeGlobals.Count > 0)
        {
            var girdEmployee = new WebGrid();
            WebGridColumn[] gridColumns;
            girdEmployee = new WebGrid(ViewBag.listEmployeeGlobals, canPage: true, rowsPerPage: 8);

            gridColumns = new WebGridColumn[2];
            gridColumns[0] = girdEmployee.Column("GlobalID", "Global ID", format: @<text> @item.GlobalID </text>, style: "grp");
            gridColumns[1] = girdEmployee.Column("EmailAddress", "Email", format: @<text> @item.EmailAddress</text>, style: "name");

            @girdEmployee.GetHtml(
                tableStyle: "GridView",
                htmlAttributes: new { width = "99%", id = "gdComplaintList" },
                mode: WebGridPagerModes.All,
                columns: girdEmployee.Columns(gridColumns))
        }
        @*@if (ViewBag.Message != null)
            {
                <script language="JavaScript" type="text/javascript">
                    alert('@ViewBag.Message');
                </script>
            }*@
    </div>


}

@using (Html.BeginForm("UploadGlobalTraining", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global training: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>

    </div>

    
}

@*@if (ViewBag.listEmployeeGlobals.ToString() == "success")
    {
        <script language="JavaScript" type="text/javascript">
          
        </script>
    }*@

@using (Html.BeginForm("UploadLocalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload local employees: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div class="custom-file-upload row">
        @*<div class="alert alert-success" id="divNotifiSuccessEmployeeLocal">
            <strong>Success!</strong> Upload employee local success!
        </div>
        <div class="alert alert-danger" id="divNotifiUnsuccessEmployeeLocal">
            <strong>Unload Unsuccess!</strong> Please check your excel file!
        </div>*@

        @if (ViewBag.listEmployee != null && ViewBag.listEmployee.Count > 0)
        {
            var girdEmployee = new WebGrid();
            WebGridColumn[] gridColumns;
            girdEmployee = new WebGrid(ViewBag.listEmployee, canPage: true, rowsPerPage: 8);

            gridColumns = new WebGridColumn[9];
            gridColumns[0] = girdEmployee.Column("EmployeeID", "Employee ID", format: @<text> @item.EmployeeID </text>, style: "grp");
            gridColumns[1] = girdEmployee.Column("NTID", "NTID", format: @<text> @item.NTID</text>, style: "name");
            gridColumns[2] = girdEmployee.Column("CardID", "CardID", format: @<text> @item.CardID</text>, style: "name");
            gridColumns[3] = girdEmployee.Column("FirstName", "First name", format: @<text> @item.FirstName</text>, style: "name");
            gridColumns[4] = girdEmployee.Column("MiddleName", "Middle name", format: @<text> @item.MiddleName</text>, style: "name");
            gridColumns[5] = girdEmployee.Column("LastName", "Last name", format: @<text> @item.LastName</text>, style: "name");
            gridColumns[6] = girdEmployee.Column("OrganizationName", "Organization", format: @<text> @item.OrganizationName</text>, style: "name");
            gridColumns[7] = girdEmployee.Column("Supervisor", "Supervisor", format: @<text> @item.Supervisor</text>, style: "name");
            gridColumns[8] = girdEmployee.Column("ModifiedDate", "Last modified", format: @<text> @item.ModifiedDate</text>, style: "name");
            @girdEmployee.GetHtml(
                tableStyle: "GridView",
                htmlAttributes: new { width = "99%", id = "gdComplaintList" },
                mode: WebGridPagerModes.All,
                columns: girdEmployee.Columns(gridColumns))
        }
    </div>


}

@if (ViewBag.Message != null)
{
    <script language="JavaScript" type="text/javascript">
        alert('@ViewBag.Message');
    </script>
}



<script>

</script>
<style>
    .custom-file-upload {
        display: block;
        width: auto;
        font-size: 16px;
        margin-top: 30px;
        border: 1px solid #ccc;
    }
</style>
